    @media (max-width: 550px)  {
        .navList{
            
            margin-left: 60vh;
            padding: 8px;
            position: absolute;
            top: 90px;
            right:0;
            border-radius: 4px;
            width: 150px;
            background:rgb(39, 35, 48);
            border: 5px solid rgb(103, 92, 128) ;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            transform: translateX(150%);
            transition: transform 0.3s ease-in;
            z-index: +2;
        }
        .navList.aTC {
            transform: translateX(0);
        }
        body {
            overflow-x: hidden;
        }
        .mobileMenu{
            display: block;
        }
        
    }

    @keyframes navLinkFate{
        from{
            opacity: 0;
            transform: translatex(50px);
        }to {
            opacity: 1;
            transform: translatex(0);
        }
    }
    @media (max-height:550px) and (max-width: 550px){
        .navList{
            width:220px;
        }


    }

