a {
    font-family: sans-serif ;
    text-decoration: none;
}
.header {
    background: rgb(189, 130, 238);
    padding-inline:20px;
    padding: 5px  ;  
    margin: 30px 10px 10px 10px;
    background-image: url('./assets/rat.png');
    border-radius: 10px;
    position: fixed;
    width: calc(95% - 20px) ;
    z-index: 100;
    
}

body {
    background-color: #000000;
    z-index: -1;
    
}
.nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
    
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.logo{
    font-size: 30px;
    width: 70px;
    height: 70px;
  
}

.navList {
    display: flex;
    gap: 5px;
    list-style: none;  
}
.navList a {
    font-size: 19px;
    color: rgb(255, 255, 255);
    padding-block:20px;
}


table{
    top: 50vh;
    height: 50vh;
}
.minhaTabela {
    width:inherit;
    height:inherit; 
    top: 0%;

}
tr td {
    border: 1px solid rgba(255, 0, 0, 0);
    align-items: center;
    text-align: center;
}
.fireContent {
    width: 100vw;
	height: 100vh;
    position:absolute;
    
    
    
}
.maps{
    display: none;
    width: 200px;
    height: 200px;
    top: 50%;
    
    transform: translate(-50%, -50%);
    position:fixed;
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center ;
    background-image: url('./assets/row.png');
}

.mobileMenu{
    display: none;
    cursor: pointer;
    background: rgb(39, 35, 48);
    padding: 0px 8px 8px 8px;
    border-radius: 3px;
    border: solid 3px rgb(103, 92, 128);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.729)
}
.mobileMenu div {
    width: 45px;
    height: 8px;
    background: rgb(103, 92, 128);
    margin-top: 8px; 
    border-radius: 3px;
    
}

.paperRoll{

    display: flex;
    position:absolute;
    background-color:antiquewhite;
    border-radius: 10px;
    width: calc(100% - 30px) ;
    left: 120%; 
    transform: translate(-120%, 0%);
    height: 100%;
    border: solid rgb(172, 150, 120) 10px;
    border-radius: 3px;
    overflow: hidden;
    
}

.up{
    position: absolute;
    border: solid rgb(172, 150, 120) 10px;
    width: 100%;
    height: 10%;
    background-color:antiquewhite;  
    top: 0%; 
    left: 50%; 
    transform: translate(-50%, 0%);
    border-radius: 3px;
    
}

.low{
    position:absolute;
    border: solid rgb(172, 150, 120) 10px;
    width: 100%;
    height: 10%;
    background-color:rgb(250, 235, 215);  
    top: 98%; 
    left: 50%; 
    transform: translate(-50%, -30%);
    border-radius: 3px;
}




.form{
    background: rgba(0, 0, 255, 0);
    width:70%;
    height: 50%;
    padding: top 50px;;
    display:flex;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1px;
    z-index: 1;

}

.pipe{
    position:absolute;
    border: solid rgb(125, 73, 0) 10px;
    width: 105%;
    height: 3%;
    background-color:rgb(70, 48, 17);  
    border-radius: 3px;
    z-index: -5;
}

.u{
    top: 4%;
    left: 50%;
    transform: translate(-50%, 0%)

}

.l{
    top: 97%;
    left: 50%;
    transform: translate(-50%, 0%)
}

.rowText{
    
    width:60%;
    height: 100%;
    background: linear-gradient(to left, rgba(250, 235, 215, 0), rgb(250, 235, 215)50px, rgb(250, 235, 215));
    z-index: 1;
}
.rowImg{
    background:#ff767600;
    width:40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  
}

.fullBody{
    height:200%;
    display: none;
    object-fit: cover;
    
    

}
.onIndex{
    display: flex;
    opacity: 1;
    animation: fadeIn 3s ease-in-out ;
    
}

@keyframes fadeIn {
    from{
        opacity: 0;            
        
    }to {
        opacity:1;
        
    }
}

#particles-bg{
    background: rgb(250, 235, 215);
    z-index: 1000;
    position:absolute;
    overflow: hidden;
    width: 60%;
    height: 100%;
    
}


